$white_navigation : rgb(236, 240, 241);
$social_backgroud : rgb(44, 62, 80);
$fontColor999: #999;

.opacity_standard{
  background-color: $white_navigation;
  background-color: rgba(red($white_navigation), green($white_navigation), blue($white_navigation), 0.4);
}
