$fontOpenSans : "Open Sans", sans-serif;


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?75669620');
  src: url('../fonts/fontello.eot?75669620#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff?75669620') format('woff'),
  url('../fonts/fontello.ttf?75669620') format('truetype'),
  url('../fonts/fontello.svg?75669620#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75669620#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-at:before { content: '\e807'; }
.icon-mail-1:before { content: '\e805'; }
.icon-paper-plane:before { content: '\e808'; }
.icon-twitter:before { content: '\e804'; }
.icon-facebook:before { content: '\e802'; }
.icon-gplus:before { content: '\e803'; }
.icon-user:before { content: '\e800'; }
.icon-lock:before { content: '\e806'; }