@import "border";

@mixin riquadroStandard($width, $borderRadius : 0px, $margin: 0){
  @include border_radius($borderRadius);
  min-height: 500px;
  width: $width;
  margin: 0 0 0 $margin;
}

@mixin background($color, $imgPath, $x, $y, $repeat){
  @if($imgPath != null){
    $imgPath : url($imgPath);
  }
  background: $color $imgPath $x $y $repeat;
}

@mixin borderRadius($top:4px, $bottom:4px, $right:4px, $left:4px){
  border-radius: $top $right $bottom $left;
}