body {
    margin:0;
    padding:0;
    background:#2ca1cc;
    font-family: "Open Sans", sans-serif;
    font-size:14px;
    color:#999;
    vertical-align:baseline;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    overflow-x:hidden;
}
h1, h2, h3 {
    font-weight:bold;
    color:#2a2a2a;
    margin:0;
}
p {
    margin-bottom:15px;
    color:#999;
}
h1 {
    margin-bottom:20px;
}
hr {
    border: 1px dashed #eee;
    margin: 20px 0;
}
a {
    text-decoration:none;
}
a.scroll {
    color: #666;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
a.scroll:hover {
    color: #1a1a1a;
}
button.cld {
    background: none repeat scroll 0 0 #14B9D5;
    border: none;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    color: #fff;
}

.section {
    margin:0;
    bottom:0;
    width:40%;
    float:left;
    height:100%;
    text-align:center;
    vertical-align: middle;
}
.login-form, .signup-form, .forgot-pwd {
    background:#fff;
    border-radius: 4px;
    padding:30px;
    text-align:center;
    float:left;
    margin:5em 40em;
}
.login-form, .forgot-pwd {
    width:350px;
}
.signup-form {
    width:600px;
}
.form-wrapper-01 {
    margin: 0;
    padding: 10px 0;
}
.form-wrapper-01 .inputbox {
    border: 1px solid #d1d1d1;
    border-radius:3px;
    height: 20px;
    padding: 10px 0 10px 32px;
    width: 44%;
    outline:none;
    margin-bottom:10px;
    font-family: inherit;
}
.login-form .form-wrapper-01 .inputbox {
    width:88%;
}
.form-wrapper-01 .name {
    background:#eaedf2 url(img/user.png) 10px 13px no-repeat;
}
.form-wrapper-01 .email {
    background:#eaedf2 url(img/email.png) 10px 15px no-repeat;
}
.form-wrapper-01 .password {
    background:#eaedf2 url(img/password.png) 10px 10px no-repeat;
}
.form-wrapper-01 a.button {
    background: none repeat scroll 0 0 #14B9D5;
    border: none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
}
.form-wrapper-01 .button:hover {
    background:#0e778a;
}
.form-wrapper-01 a.button > i {
    font-size:20px;
}

/*Social Button Styling*/
.social {
    margin: 40px 0 10px;
}
.social a {
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    border-radius: 4px 4px 4px 4px;
    padding:20px 0;
}
.social a.facebook {
    background:#3b5998;
}
.social a.facebook:hover {
    background:#37528c;
}
.social .twitter {
    background:#1daee3;
    margin: 0 26px;
}
.social .twitter:hover {
    background:#1ca4d6;
}
.social .google {
    background:#d34836;
}
.social .google:hover {
    background:#c74534;
}
.social .facebook > i, .social .twitter > i, .social .google > i {
    border-radius: 4px 0 0 4px;
    bottom: 3px;
    font-size: 38px;
    padding: 10px 14px;
    position: relative;
    vertical-align: middle;
    clear: both;
}
.social .facebook > span, .social .twitter > span, .social .google > span {
    font-size: 18px;
    letter-spacing: 0.06em;
    padding:24px 20px 24px 0;
}

.login-form, .signup-form {
    margin-top: 25px;
    margin-left: 50%;
    left:-200px;
    position:absolute;
    vertical-align: middle;
}

/* SCRITTO DA GABRIELE VAUDANO : DA MODIFICARE E MIGLIORARE */
.le15 {
    line-height:2.5;
}

[type="checkbox"] {
    margin-right: 45px;

}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left:0; top: -3px;
    width: 65px; height: 30px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: background-color .5s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px; height: 20px;
    transition: all .5s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px; left: 5px;
}

/* on checked */
[type="checkbox"]:checked + label:before {
    background:#34495E;
}
[type="checkbox"]:checked + label:after {
    background: #14B9D5;
    top: 2px; left: 40px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    transition: all .5s;
    margin-right: 25px;
    float: left;
}
[type="checkbox"]:not(:checked) + label .ui:before {
    content: "No";
    left: 36px
}
[type="checkbox"]:checked + label .ui:after {
    content: "Si";
    color: #14B9D5;
    left: 8px;
}
[type="checkbox"]:focus + label:before {
    box-sizing: border-box;
    margin-top: -1px;
}

/* Useless styles, just for demo styles */

.txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
}
.copy {
    margin-top: 2em;
}
.copy a {
    text-decoration: none;
    color: #14B9D5;
}
