@import "common/common";

$fontSize14: 14px;

body {
  @extend body;
  background:#2ca1cc;
  font-family: $fontOpenSans;
  font-size:$fontSize14;
  color:$fontColor999;
  vertical-align:baseline;
  width:4800px;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  overflow-x:hidden;
}
h1, h2, h3 {
  font-weight:bold;
  color:#2a2a2a;
  margin:0;
}
p {
  margin-bottom:15px;
  color:$fontColor999;
}
h1 {
  margin-bottom:20px;
}
hr {
  border: 1px dashed #eee;
  margin: 20px 0;
}
a {
  text-decoration:none;
}
a.scroll {
  color: #666;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

a.scroll:hover {
  color: #1a1a1a;
}

button.cld {
  @include background(#14B9D5, null, 0, 0, none repeat scroll);
  border: none;
  @include borderRadius();
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  color: #fff;
}

.section {
  margin:0;
  bottom:0;
  width:1600px;
  float:left;
  height:100%;
  text-align:center;
}
.login-form, .signup-form, .forgot-pwd {
  background:#fff;
  @include borderRadius();
  padding:30px;
  text-align:center;
  float:left;
  margin:5em 40em;
}
.login-form, .forgot-pwd {
  width:350px;
}
.signup-form {
  width:600px;
}
.form-wrapper-01 {
  margin: 0;
  padding: 10px 0;
}
.form-wrapper-01 .inputbox {
  border: 1px solid #eaedf2;
  @include borderRadius(3px,3px,3px,3px);
  height: 20px;
  padding: 10px 0 10px 32px;
  width: 44%;
  outline:none;
  margin-bottom:10px;
  font-family: inherit;
}
.login-form .form-wrapper-01 .inputbox {
  width:88%;
}
.form-wrapper-01 .name {
  @include background(#eaedf2, '../images/user.png', 10px, 13px, no-repeat);
}
.form-wrapper-01 .email {
  @include background(#eaedf2, '../images/email.png', 10px, 15px, no-repeat);
}
.form-wrapper-01 .password {
  @include background(#eaedf2, '../images/password.png', 10px, 10px, no-repeat);
}
.form-wrapper-01 a.button {
  @include background(#14B9D5, null, 0, 0, none repeat scroll);
  border: none;
  @include borderRadius();
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
}
.form-wrapper-01 .button:hover {
  background:#0e778a;
}
.form-wrapper-01 a.button > i {
  font-size:20px;
}

/*Social Button Styling*/
.social {
  margin: 40px 0 10px;
}
.social a {
  color:#fff;
  text-decoration:none;
  font-weight:bold;
  @include borderRadius();
  padding:20px 0;
}
.social a.facebook {
  @include background(#3b5998, null, null, null, null);
}
.social a.facebook:hover {
  @include background(#37528c, null, null, null, null);
}
.social .twitter {
  @include background(#1daee3, null, null, null, null);
  margin: 0 26px;
}
.social .twitter:hover {
  @include background(#1ca4d6, null, null, null, null);
}
.social .google {
  @include background(#d34836, null, null, null, null);
}
.social .google:hover {
  @include background(#c74534, null, null, null, null);
}
.social .facebook > i, .social .twitter > i, .social .google > i {
  @include borderRadius($right:0,$bottom:0);
  bottom: 3px;
  font-size: 38px;
  padding: 10px 14px;
  position: relative;
  vertical-align: middle;
  clear: both;
}
.social .facebook > span, .social .twitter > span, .social .google > span {
  font-size: 18px;
  letter-spacing: 0.06em;
  padding:24px 20px 24px 0;
}
