@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?75669620");
  src: url("../fonts/fontello.eot?75669620#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?75669620") format("woff"), url("../fonts/fontello.ttf?75669620") format("truetype"), url("../fonts/fontello.svg?75669620#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75669620#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-at:before {
  content: '\e807';
}

.icon-mail-1:before {
  content: '\e805';
}

.icon-paper-plane:before {
  content: '\e808';
}

.icon-twitter:before {
  content: '\e804';
}

.icon-facebook:before {
  content: '\e802';
}

.icon-gplus:before {
  content: '\e803';
}

.icon-user:before {
  content: '\e800';
}

.icon-lock:before {
  content: '\e806';
}

.opacity_standard {
  background-color: #ecf0f1;
  background-color: rgba(236, 240, 241, 0.4);
}

body {
  margin: 0px;
  padding: 0px;
}

body {
  background: #2ca1cc;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  vertical-align: baseline;
  width: 4800px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow-x: hidden;

}

h1, h2, h3 {
  font-weight: bold;
  color: #2a2a2a;
  margin: 0;
}

p {
  margin-bottom: 15px;
  color: #999999;
}

h1 {
  margin-bottom: 20px;
}

hr {
  border: 1px dashed #eee;
  margin: 20px 0;
}

a {
  text-decoration: none;
}

a.scroll {
  color: #666;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

a.scroll:hover {
  color: #1a1a1a;
}

button.cld {
  background: #14b9d5 0 0 none repeat scroll;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  color: #fff;
}

.section {
  margin: 0;
  bottom: 0;
  width: 1600px;
  float: left;
  height: 100%;
  text-align: center;
}

.login-form, .signup-form, .forgot-pwd {
  background: #fff;
  border-radius: 4px 4px 4px 4px;
  padding: 30px;
  text-align: center;
  float: left;
  margin: 5em 40em;
}

.login-form, .forgot-pwd {
  width: 350px;
}

.signup-form {
  width: 600px;
}

.form-wrapper-01 {
  margin: 0;
  padding: 10px 0;
}

.form-wrapper-01 .inputbox {
  border: 1px solid #ddd;  /* MODIFICATO */
  border-radius: 3px 3px 3px 3px;
  height: 20px;
  padding: 10px 0 10px 32px;
  width: 44%;
  outline: none;
  margin-bottom: 10px;
  font-family: inherit;
}

.login-form .form-wrapper-01 .inputbox {
  width: 88%;
}

.form-wrapper-01 .name {
  background: #eaedf2 url("../images/user.png") 10px 13px no-repeat;
}

.form-wrapper-01 .email {
  background: #eaedf2 url("../images/email.png") 10px 15px no-repeat;
}

.form-wrapper-01 .password {
  background: #eaedf2 url("../images/password.png") 10px 10px no-repeat;
}

.form-wrapper-01 a.button {
  background: #14b9d5 0 0 none repeat scroll;
  border: none;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
}

.form-wrapper-01 .button:hover {
  background: #0e778a;
}

.form-wrapper-01 a.button > i {
  font-size: 20px;
}

/*Social Button Styling*/
.social {
  margin: 40px 0 10px;
}

.social a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px 4px 4px 4px;
  padding: 20px 0;
}

.social a.facebook {
  background: #3b5998;
}

.social a.facebook:hover {
  background: #37528c;
}

.social .twitter {
  background: #1daee3;
  margin: 0 26px;
}

.social .twitter:hover {
  background: #1ca4d6;
}

.social .google {
  background: #d34836;
}

.social .google:hover {
  background: #c74534;
}

.social .facebook > i, .social .twitter > i, .social .google > i {
  border-radius: 4px 0 0 4px;
  bottom: 3px;
  font-size: 38px;
  padding: 10px 14px;
  position: relative;
  vertical-align: middle;
  clear: both;
}

.social .facebook > span, .social .twitter > span, .social .google > span {
  font-size: 18px;
  letter-spacing: 0.06em;
  padding: 24px 20px 24px 0;
}

body {
    background-image: url('../../../storage/wallpapers/loginRegister/2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.postbody {
    background: rgba(0,0,0, 0.7);
    width:100%;
    height:100%;
    z-index:-10;
}