@import "common/common";

$contentWidth: 90%;

$socialWidth: 26%;
$newsWidth: 50%;
$systemWidth:23%;
$margin: 1.5%;
$borderRadius: 10px;

body{
  @extend body;
  background: url("../images/WallPaper.jpg");
}

#navigation{
  background-color: $white_navigation;
  height: 50px;
  width: 100%;

}

#content{
  @include border_test(#0000FF);
  padding: 50px 0;
  width: $contentWidth;
  display: flex;
  margin: auto;

  @media #{$desktop_medium} {
    margin: auto 0 auto auto;
  }

  .social_container{
    @include border_test(#ff591c);
    @include riquadroStandard($socialWidth, $borderRadius, $margin);
    background-color: $social_backgroud;
  }

  .news_container{
    @include border_test(#57ff22);
    @include riquadroStandard($newsWidth, $borderRadius, $margin);
    @extend .opacity_standard;
  }

  .system_container{
    @include border_test(#6bffe6);
    @include riquadroStandard($systemWidth, $borderRadius, $margin);
    @extend .opacity_standard;
  }
}

#footer{
  @include border_test(#6061ff);
  min-height: 40px;
}