@font-face
{
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    src: url(OpenSans/OpenSans-Regular.ttf); /* Normale: 400 */
}

@font-face {
    font-family: Open Sans;
    font-weight: 400;
    font-style: italic;
    src: url(OpenSans/OpenSans-Italic.ttf);  /* Italico Regolare */
}

@font-face {
    font-family: Open Sans;
    font-weight: 300;
    font-style: italic;
    src: url(OpenSans/OpenSans-LightItalic.ttf);    /* Light Italico: 300 */
}

@font-face {
    font-family: Open Sans;
    font-weight: 700;
    font-style: normal;
    src: url(OpenSans/OpenSans-Bold.ttf);    /* Grassetto normale: 600 */
}

@font-face {
    font-family: Open Sans;
    font-weight: 300;
    font-style: normal;
    src: url(OpenSans/OpenSans-Light.ttf);  /* Light: 300 */
}

